* {
    box-sizing: border-box;
}

body {
    width: 100%;
    font-size: 100%;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
    width: 100%;
}

#navbar li {
    float: left;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

li a:hover {
    background-color: #2d6fb1;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'about photo'
        'technologies tools'
        'project1 project2'
        'project3 project4'
        'contacts contactForm';
    border: 3px solid black;
    gap: 5px;
}

.grid-container-items {
    min-height: 700px;
    border: 2px dashed red;

}

#header {
    grid-area: header;
}

#about {
    grid-area: about;
    position: relative;
}

#photo {
    grid-area: photo;
}

#technologies {
    grid-area: technologies;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#tools {
    grid-area: tools;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#project-1 {
    grid-area: project1;

    /*Subgrid for content in main grid item*/
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 0.75rem;
    background: #fff;
    border-radius: 12px;
    padding: 1rem;
    text-align: center;
}

#project-2 {
    grid-area: project2;

    /*Subgrid for content in main grid item*/
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 0.75rem;
    background: #fff;
    border-radius: 12px;
    padding: 1rem;
    text-align: center;
}

#project-3 {
    grid-area: project3;

    /*Subgrid for content in main grid item*/
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 0.75rem;
    background: #fff;
    border-radius: 12px;
    padding: 1rem;
    text-align: center;
}

#project-4 {
    grid-area: project4;

    /*Subgrid for content in main grid item*/
    display: grid;
    grid-template-rows: auto auto auto auto;
    /* gap: 0.75rem; */
    background: #fff;
    border-radius: 12px;
    /* padding: 1rem; */
    text-align: center;
}

#contacts {
    grid-area: contacts;
}

#contact-form {
    grid-area: contactForm;
}

.footer {
    grid-area: footer;
}

.grid-item-header {
    font-size: 1.4rem;
    font-weight: bold;
}

.project-description {
    font-size: 1.2rem;
    color: #333;
}

.github-link {
    width: 15vw;
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
    color: black;
    text-align: center;
    align-self: center;
    justify-self: center;
}

.github-link a {
    color: black;
    text-decoration-line: none;
}

.github-link:hover {
    background-color: black;
    color: white;
}

.github-link:hover a {
    color: white;
}

#hotel-management-system-img {
    width: 70%;
    margin: auto;
}

#marketplace-img {
    width: 70%;
    margin: auto;
}

#kafka-task-img {
    width: 70%;
    margin: auto;
}

.project-image {
    border: 2px solid orange;
    width: 50%;
    height: 100%;
    object-fit: cover;
    align-self: center;
    justify-self: center;
    border-radius: 8px;
}