* {
    box-sizing: border-box;
}

body {
    width: 100%;
    font-size: 100%;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
    width: 100%;
}

#navbar li {
    float: left;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

li a:hover {
    background-color: #2d6fb1;
    color: white;
}

li a:visited {
    background-color: green;
}

.main-grid-container {
    display: grid;
    grid-template-areas:
        'about photo'
        'technologies tools'
        'project1 project2'
        'project3 project4'
        'contacts contactForm';
    border: 3px solid black;
    gap: 5px;
}

.main-grid-container>div {
    min-height: 700px;
    border: 2px dashed red;
}

#header {
    grid-area: header;
}

#about {
    grid-area: about;
}

#photo {
    grid-area: photo;
}

#technologies {
    grid-area: technologies;
}

#tools {
    grid-area: tools;
}

#project-1 {
    grid-area: project1;
}

#project-2 {
    grid-area: project2;
}

#project-3 {
    grid-area: project3;
}

#project-4 {
    grid-area: project4;
}

#contacts {
    grid-area: contacts;
}

#contact-form {
    grid-area: contactForm;
}

.footer {
    grid-area: footer;
}